body {
  background-color: rgb(255, 255, 255)255);
}

.glowscript-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: rgb(216, 216, 216);
    
}